.bg {
  border: 1px solid var(--point-color);
  background-color: var(--point-color);
  color: var(--main-color);
}
.bg:hover {
  border: 1px solid var(--point-color);
  background-color: var(--main-color);
  color: var(--point-color);
}

.transparent {
  border: 1px solid var(--point-color);
  background-color: transparent;
  color: var(--point-color);
}
.transparent:hover {
  border: 1px solid var(--point-color);
  background-color: var(--point-color);
  color: var(--main-color);
}
